<div class="modal-content">

    <div class="modal-header" header><b>Search Results...</b></div>

    <div class="modal-body" body>
        <div *ngIf="type=='users'">
            <br>
            <span *ngIf="data.length===0">No Users Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>User ID</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Date of Birth</th>
                    <th>Smoking Preference</th>
                    <th>Drinking Preference</th>
                    <th>Veg Preference</th>
                    <th>Flat ID</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.contact_number}}</td>
                        <td>{{d.contact_email}}</td>
                        <td>{{d.user_type}}</td>
                        <td>{{d.dob}}</td>
                        <td>{{d.gender}}</td>
                        <td>{{d.pref_smoking}}</td>
                        <td>{{d.pref_drinking}}</td>
                        <td>{{d.pref_veg}}</td>
                        <td>{{d.flat_id}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
        
        <div *ngIf="type=='owners'">
            <span *ngIf="data.length===0">No Owners Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>Owner ID</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.contact_email}}</td>
                        <td>{{d.contact_number}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
        
        <div *ngIf="type=='lease'">
            <span *ngIf="data.length===0">No Lease Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>Lease ID</th>
                    <th>Start Data</th>
                    <th>End Date</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.lease_start_date}}</td>
                        <td>{{d.lease_end_date}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
        
        <div *ngIf="type=='flats'">
            <span *ngIf="data.length===0">No Flats Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>Flat ID</th>
                    <th>Rent per Room</th>
                    <th>Floor Number</th>
                    <th>Associated Apt ID</th>
                    <th>Lease ID</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.rent_per_room}}</td>
                        <td>{{d.floor_number}}</td>
                        <td>{{d.associated_apt_id}}</td>
                        <td>{{d.lease_id}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
        
        <div *ngIf="type=='apartments'">
            <span *ngIf="data.length===0">No Apartments Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>Apartment ID</th>
                    <th>Address</th>
                    <th>Facilities</th>
                    <th>Owner ID</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.address}}</td>
                        <td>{{d.facilities}}</td>
                        <td>{{d.owner_id}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
        
        <br>
        <button class="btn" *ngIf="data.length === 1" (click)="updateFeature()">Update...</button>
        <button class="btn" *ngIf="data.length === 1" (click)="deleteFeature()">Delete...</button>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="close()">Close</button>
    </div>

</div>
