<div class="modal-content">
    <div class="modal-header" header><b>Owners</b></div>

    <div body class="modal-body">
        <br>
        <div id="search-form">
            <input id="search-bar" style="height: 30px" placeholder="Search..." (keydown)="search($event)"/>
            <button class="btn" (click)="search($event)">Search</button>
        </div>
        <br>
        <div id="data-form">
            <br>
            <span *ngIf="data.length===0">No Owners Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>Owner ID</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.contact_email}}</td>
                        <td>{{d.contact_number}}</td>
                    </tr>
                </ng-container>
            </table>
            <br>
            <button class="btn" (click)="addFeature()">Add...</button>
        </div>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="close()">Close</button>
    </div>

</div>