/* You can add global styles to this file, and also import other style files */

.modal {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 0 16px;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 99; /* Adjust according to your needs */
  }
  
  .modal.fade-anim {
    transition: opacity 400ms ease-in-out;
    will-change: opacity;
    opacity: 0;
  }
  
  .modal.fade-anim.in {
    opacity: 1;
  }
  
  .modal .draggable {
    display: block;
    position: relative;
  }
  
  .modal .draggable .handle {
    cursor: move;
  }
  
  .modal-open {
    overflow: hidden;
  }
  
  .modal-content {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 16px auto;
    max-width:600px;
    position: relative;
    transition: opacity 400ms ease-in-out;
    width: 100%;
    will-change: opacity;
    display: inline-block;
    text-align: left;
  }
  
  .modal-content-size-m {
    max-width: 1500px;
  }
  
  .modal-content-size-l {
    max-width: 2000px;
  }
  
  .modal-footer,
  .modal-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    padding: 0 16px;
  }
  
  .modal-header {
    border-bottom: 1px solid #cecece;
  }
  
  .modal-header {
    border-bottom: 1px solid #cecece;
  }
  
  .modal-body {
    padding: 16px;
    overflow-y: auto;
    max-width: 560px;
  }
  
  .modal-footer {
    border-top: 1px solid #cecece;
  }

  table, th, td {
    border:1px solid black;
  }

  table {
    width: fit-content;
  }

  .btn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #666666;
    padding: 6px 7px 8px 10px;
    text-decoration: none;
    text-align: center;
    margin: 5px 5px;
    border: none;
    height: 30px;
  }
  
  .btn:hover {
    background: #333333;
    text-decoration: none;
  }