<div class="modal-content">

    <div header class="modal-header" *ngIf="type=='add'"><b>Add Lease</b></div>
    <div header class="modal-header" *ngIf="type=='edit'"><b>Update Lease</b></div>

    <div body class="modal-body">
        <br>
        <label>Start Date:</label>
        <input (change)="onChangeStartDate($event)" [value]="lease_start_date" type="date" id="lease_start" />
        <br>
        <label>End Date:</label>
        <input (change)="onChangeEndDate($event)" [value]="lease_end_date" type="date" id="lease-end"/>
        <br>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="submit()">Done</button>
        <button class="btn" (click)="close()">Close</button>
    </div>

</div>