
<div class="login-page bg-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h3 class="mb-3">Login Now</h3>
              <div class="bg-white shadow rounded">
                  <div class="row">
                      <div class="col-md-7 pe-0">
                          <div class="form-left h-100 py-5 px-5">
                              <form class="row g-4" [formGroup]="loginForm">
                                      <div class="col-12">
                                          <label>Username<span class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                              <input type="text" formControlName="userName" class="form-control" placeholder="Enter Username">
                                          </div>
                                      </div>

                                      <div class="col-12">
                                          <label>Password<span class="text-danger">*</span></label>
                                          <div class="input-group">
                                              <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                              <input [type]="show ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="Enter Password">
                                              <div class="input-group-text" style="cursor: pointer;" (click)="togglePassword()"><i [ngClass]="show ? 'bi bi-eye-slash' : 'bi bi-eye'" id="togglePassword" ></i></div>
                                          </div>
                                      </div>

                                      <div class="col-12">
                                          <button type="submit"  (click)="loginClicked()" [disabled]="!loginForm.valid" class="btn btn-primary px-4 float-end mt-4">Login</button>
                                      </div>
                              </form>
                          </div>
                      </div>
                      <div class="col-md-5 ps-0 d-none d-md-block">
                          <div class="form-right h-100 text-white text-center pt-5" style="background-color: #ffe6e6;">
                              <img src="/img/bg-logo.png" height="150">
                              <h2 class="fs-1 text-dark">Welcome Back!!!</h2>
                              <h3 class="fs-1 text-dark">Wolflease</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
