<html>
  <body>
    <h1 style="color: red;">Welcome to Wolf Lease!</h1>
    <button id="owner-button" class="btn" style="width: 100px;height: 50px;font-size: large;" (click)="goToFeature('owners')">Owners</button><br>
    <br>
    <button id="user-button" class="btn" style="width: 100px;height: 50px;font-size: large;" (click)="goToFeature('users')">Users</button><br>
    <br>
    <button id="lease-button" class="btn" style="width: 100px;height: 50px;font-size: large;" (click)="goToFeature('lease')">Lease</button><br>
    <br>
    <button id="flats-button" class="btn" style="width: 100px;height: 50px;font-size: large;" (click)="goToFeature('flats')">Flats</button><br>
    <br>
    <button id="apartment-button" class="btn" style="width: 125px;height: 50px;font-size: large;" (click)="goToFeature('apartments')">Apartments</button><br>
    <br>
    <button id="apartment-button" class="btn" style="width: 100px;height: 50px;font-size: large;" (click)="logout()">LogOut</button><br>
  </body>
</html>
