<div class="modal-content">
    <div class="modal-header" header><b>Apartments</b></div>

    <div body class="modal-body">
        <br>
        <div id="search-form">
            <input id="search-bar" style="height: 30px" (change)="onSearch($event)" placeholder="Search..."/>
            <button class="btn" (click)="search($event)">Search</button>
        </div>
        <br>
        <br>
        <div id="data-form">
            <br>
            <span *ngIf="data.length===0">No Apartments Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>Apartment ID</th>
                    <th>Address</th>
                    <th>Facilities</th>
                    <th>Owner ID</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.address}}</td>
                        <td>{{d.facilities}}</td>
                        <td>{{d.owner_id}}</td>
                    </tr>
                </ng-container>
            </table>
            <br>
            <button class="btn" (click)="addFeature()">Add...</button>
        </div>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="close()">Close</button>
    </div>

</div>