<div class="modal-content">
    <div header class="modal-header" *ngIf="type=='add'"><b>Add Apartment</b></div>
    <div header class="modal-header" *ngIf="type=='edit'"><b>Update Apartment</b></div>

    <div body class="modal-body">
        <br>
        <label>Address:</label>
        <input type="text" [value]="address" (change)="onAddressChange($event)" placeholder="Enter Address Here..." id="apartment-address" />
        <br>
        <label>Facilities:</label>
        <textarea [value]="facilities" (change)="onFacilitiesChange($event)" placeholder="Enter Facilities..." id="apartment-facilities"></textarea>
        <br>
        <label>Owner:</label>
        <select [value]="ownerid" (change)="onOwnerChange($event)" id="apartment-owner">
            <option *ngFor="let o of owner_data">{{o.id}}</option>
        </select>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="submit()">Done</button>
        <button class="btn" (click)="close()">Close</button>
    </div>
</div>