<div class="modal-content">
    <div class="modal-header" header><b>Users</b></div>

    <div body class="modal-body" style="width: 880px;">
        <br>
        <div id="search-form">
            <input id="search-bar" style="height: 30px" (change)="onSearch($event)" placeholder="Search..."/>
            <button class="btn" (click)="search($event)">Search</button>
        </div>
        <br>
        <br>
        <div id="data-form">
            <br>
            <span *ngIf="data.length===0">No Users Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>User ID</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Smoking Preference</th>
                    <th>Drinking Preference</th>
                    <th>Veg Preference</th>
                    <th>Flat ID</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.contact_number}}</td>
                        <td>{{d.contact_email}}</td>
                        <td>{{d.user_type}}</td>
                        <td>{{d.dob}}</td>
                        <td>{{d.gender}}</td>
                        <td>{{d.pref_smoking}}</td>
                        <td>{{d.pref_drinking}}</td>
                        <td>{{d.pref_veg}}</td>
                        <td>{{d.flat_id}}</td>
                    </tr>
                </ng-container>
            </table>
            <br>
            <button class="btn" (click)="addFeature()">Add...</button>
        </div>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="close()">Close</button>
    </div>

</div>