<div class="modal-content">

    <div header class="modal-header" *ngIf="type=='add'"><b>Add User</b></div>
    <div header class="modal-header" *ngIf="type=='edit'"><b>Update User</b></div>

    <div body class="modal-body">
        <br>
        <label>Flat ID:</label>
        <select [value]="flat" (change)="onChangeFlat($event)" id="user_flat">
            <option *ngFor="let f of flatdata">{{f.id}}</option>
        </select>
        <br>
        <label>Contact Number:</label>
        <input [value]="number" (change)="onChangeNumber($event)" type="text" placeholder="Enter Phone Number..." id="user_number"/>
        <br>
        <label>Email:</label>
        <input [value]="email" (change)="onChangeEmail($event)" type="text" placeholder="Enter Email..." id="user-email"/>
        <br>
        <label>User Type:</label>
        <input [value]="usertype" (change)="onChangeType($event)" type="text" placeholder="Enter User Type..." id="user-type"/>
        <br>
        <label>Date of Birth:</label>
        <input [value]="dob" (change)="onChangeDate($event)" type="date" id="dob"/>
        <br>
        <label>Gender:</label>
        <input [checked]="gender" (change)="gender = !gender" type="radio"/>
        <span>Male</span>
        <input [checked]="!gender" (change)="gender = !gender" type="radio">
        <span>Female</span>
        <br>
        <label>Smoking Preference:</label>
        <input [checked]="smoking_pref" (change)="smoking_pref=!smoking_pref" type="radio"/>
        <span>True</span>
        <input [checked]="!smoking_pref" (change)="smoking_pref=!smoking_pref" type="radio">
        <span>False</span>
        <br>
        <label>Drinking Preference:</label>
        <input [checked]="drinking_pref" (change)="drinking_pref=!drinking_pref" type="radio"/>
        <span>True</span>
        <input [checked]="!drinking_pref" (change)="drinking_pref=!drinking_pref" type="radio">
        <span>False</span>
        <br>
        <label>Veg Preference:</label>
        <input [checked]="veg_pref" (change)="veg_pref=!veg_pref" type="radio"/>
        <span>True</span>
        <input [checked]="!veg_pref" (change)="veg_pref=!veg_pref" type="radio">
        <span>False</span>
        <br>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="submit()">Done</button>
        <button class="btn" (click)="close()">Close</button>
    </div>

</div>