<div id="login-form" class="center">
    <div id="login">
        <form id="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label class="form-label">Username:   </label>
            <input class="form-contol" id="username" type="text" name="username" formControlName="username" />
            <br>
            <label class="form-label">Password:   </label>
            <input id="password" class="form-control" type="password" name="password" formControlName="password" />
            <br>
            <input type="submit" class="btn" value="Sign In"/>
            <br>
            <br>
            <button class="btn" [routerLink]="['/register']">Register Here</button>
            <br>
            <span *ngIf="isError">{{message}}</span>
        </form>
    </div>
</div>