<div id="login-form" class="center">
    <div id="login">
        <p style="align-self: center; background-color: red; text-align: center; color: white; font-size: x-large;"><b>Welcome to Wolf Lease!</b></p>
        <form id="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div style="padding-top: 5px; padding-left: 5px;">
            <label class="form-label">Username:   </label>
            <input class="form-contol" id="username" type="text" name="username" formControlName="username" />
            </div>
            <br>
            <div style="padding-top: 5px; padding-left: 5px;">
            <label class="form-label">Password:   </label>
            <input id="password" class="form-control" type="password" name="password" formControlName="password" />
            <br>
            </div>
            <br>
            <input type="submit" class="btn" value="Sign In"/>
            <br>
            <br>
            <button class="btn" [routerLink]="['/register']">Register Here</button>
            <br>
            <span *ngIf="isError">{{message}}</span>
        </form>
    </div>
</div>