<div class="modal-content">

    <div header class="modal-header" *ngIf="type=='add'"><b>Add Flat</b></div>
    <div header class="modal-header" *ngIf="type=='edit'"><b>Update Flat</b></div>

    <div body class="modal-body">
        <br>
        <label>Associated Apartment:</label>
        <select (change)="onChangeApartment($event)" [value]="apartment" id="flat-apt">
            <option *ngFor="let a of apt_data">{{a.id}}</option>
        </select>
        <br>
        <label>Lease:</label>
        <select (change)="onChangeLease($event)" [value]="lease" id="flat-lease">
            <option *ngFor="let l of lease_data">{{l.id}}</option>
        </select>
        <br>
        <label>Rent:</label>
        <input type="number" (change)="onChangeRent($event)" [value]="rent" placeholder="Enter Rent..." id="flat-rent"/>
        <br>
        <label>Floor Number:</label>
        <input type="number" (change)="onChangeFloor($event)" [value]="floor_number" placeholder="Enter Floor Number..." id="flat-floor"/>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="submit()">Done</button>
        <button class="btn" (click)="close()">Close</button>
    </div>

</div>