<div class="modal-content">

    <div header class="modal-header" *ngIf="type=='add'"><b>Add Flat</b></div>
    <div header class="modal-header" *ngIf="type=='edit'"><b>Update Flat</b></div>

    <div body class="modal-body">
        <br>
        <label>Availability:</label>
        <input type="radio" [checked]="availability" (change)="availability=!availability" id="flat_availability" />
        <span>True</span>
        <input type="radio" [checked]="availability" (change)="availability!=availability" id="flat_availability" />
        <span>False</span>
        <br>
        <label>Associated Apartment:</label>
        <input type="text" (change)="onChangeApartment($event)" [value]="apartment" placeholder="Enter Apartment..." id="flat-apt"/>
        <br>
        <label>Lease:</label>
        <input type="text" (change)="onChangeLease($event)" [value]="lease" placeholder="Enter Lease..." id="flat-lease"/>
        <br>
        <label>Rent:</label>
        <input type="number" (change)="onChangeRent($event)" [value]="rent" placeholder="Enter Rent..." id="flat-rent"/>
        <br>
        <label>Floor Number:</label>
        <input type="number" (change)="onChangeFloor($event)" [value]="floor_number" placeholder="Enter Floor Number..." id="flat-floor"/>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="submit()">Done</button>
    </div>

</div>