<div class="row">
    <div class="col-6">
        <h1>Leases Grid</h1>
    </div>
    <div class="col-6">
        <div class="float-end me-2">
            <button type="button" data-bs-toggle="modal" data-bs-target="#addLease" 
                class="btn btn-rounded btn-primary btn-lg pull-right" (click)="fieldCRUDOperation('addOpen')">Add Lease</button>
        </div>
    </div>
</div>
<hr>

<div class="card mt-2">
    <div class="card-body">
        <p-table #dt2 [columns]="columns" [value]="leases" [reorderableColumns]="true"
            [resizableColumns]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 15]"
            [scrollable]="true" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}"
            [showCurrentPageReport]="true" scrollDirection="both" [globalFilterFields]="['id','contact_email', 'contact_number']"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-end">
                            <p-iconField iconPosition="right" [style]="{'min-width': '300px'}">
                                <p-inputIcon styleClass="pi pi-search" />
                                <input type="text" pInputText placeholder="Search"
                                    (input)="dt2.filterGlobal($any($event.target).value, 'contains')" />
                            </p-iconField>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="{{col.field}}" pResizableColumn pReorderableColumn *ngFor="let col of columns">
                        {{col.header}} <p-sortIcon field="{{col.field}}" />
                    </th>
                    <th pResizableColumn >Action</th>
                </tr>

            </ng-template>

            <ng-template pTemplate="body" let-product let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{product[col.field]}}
                    </td>
                    <td>
                        <button data-bs-toggle="modal" data-bs-target="#addLease" type="button" class="btn pull-right background-button-default btn-rounded btn-success" (click)="fieldCRUDOperation('updateOpen', product)">Edit</button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>

<div class="modal fade" id="addLease" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{formModalHeader}}</h1>
        </div>
        <div class="modal-body">
            <form [formGroup]="ownerForm">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="lease_start_date" class="form-label required">Lease Start Date</label>
                            <input type="date" class="form-control" id="lease_start_date" formControlName="lease_start_date" aria-describedby="lease_start_date">
                            <span class="error" *ngIf="ownerForm.get('lease_start_date')?.touched && ownerForm.get('lease_start_date')?.valid == false" >
                                Please Enter Lease Start Date
                            </span>
                        </div>          
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="lease_end_date" class="form-label required">Lease End Date</label>
                            <input type="date" class="form-control" id="lease_end_date" formControlName="lease_end_date" aria-describedby="lease_end_date">
                            <span class="error" *ngIf="ownerForm.get('lease_end_date')?.touched && ownerForm.get('lease_end_date')?.valid == false" >
                                Please Enter Lease End Date
                            </span>
                        </div>        
                    </div>
                </div>
               
                </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning mr-auto" *ngIf="this.formOperationScenario === 2" data-bs-target="#deleteConfirmation" data-bs-dismiss="#addLease" data-bs-toggle="modal">{{modalLabel}}</button>
            <button type="button" (click)="fieldCRUDOperation(this.formOperationScenario === 1 ? 'create' : 'update')" class="btn btn-success" data-bs-dismiss="modal"  [disabled]="!this.ownerForm.valid">Submit</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteConfirmation"  data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="deleteConfirmation" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteConfirmationTitle">{{modalTitle}}</h1>
        </div>
        <div class="modal-body" style="white-space: pre-line">
          {{modalBody}}
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-bs-dismiss="deleteConfirmation" (click)="fieldCRUDOperation('delete')" data-bs-target="#deleteConfirmation" data-bs-toggle="modal">Submit</button>
          <button class="btn btn-danger" data-bs-dismiss="deleteConfirmation" data-bs-target="#addLease" data-bs-toggle="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div> 