<div class="modal-content">
    <div class="modal-header" header><b>Flats</b></div>

    <div body class="modal-body">
        <br>
        <div id="search-form">
            <input id="search-bar" style="height: 30px" (change)="onSearch($event)" placeholder="Search..."/>
            <button class="btn" (click)="search($event)">Search</button>
        </div>
        <br>
        <div id="data-form">
            <br>
            <span *ngIf="data.length===0">No Flats Available</span>
            <table *ngIf="data.length>0">
                <tr>
                    <th>Flat ID</th>
                    <th>Availability</th>
                    <th>Rent per Room</th>
                    <th>Floor Number</th>
                    <th>Associated Apt ID</th>
                    <th>Lease ID</th>
                </tr>
                <ng-container *ngFor="let d of data;let i=index">
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.availability}}</td>
                        <td>{{d.rent_per_room}}</td>
                        <td>{{d.floor_number}}</td>
                        <td>{{d.associated_apt_id}}</td>
                        <td>{{d.lease_id}}</td>
                    </tr>
                </ng-container>
            </table>
            <br>
            <br>
            <button class="btn" (click)="addFeature()">Add...</button>
        </div>
    </div>

    <div class="modal-footer" footer>
        <button class="btn" (click)="close()">Close</button>
    </div>

</div>