<div id="login-form" class="center">
    <div id="login">
        <form id="form" [formGroup]="registerForm">
            <p style="align-self: center; background-color: red; text-align: center; color: white; font-size: xx-large;"><b>Welcome to Wolf Lease!</b></p>
            <div style="padding-top: 5px; padding-left: 5px;">
            <label>Username:   </label>
            <input id="username" type="text" name="username" formControlName="username" />
            </div>
            <br>
            <div style="padding-top: 5px; padding-left: 5px;">
            <label>Password:   </label>
            <input id="password" type="password" name="password" formControlName="password" />
            </div>
            <br>
            <div style="padding-top: 5px; padding-left: 5px;">
            <label>Confirm Password:   </label>
            <input id="password2" type="password" name="password2" formControlName="password2" />
            </div>
            <br>
            <div style="padding-top: 5px; padding-left: 5px;">
            <label>Email:   </label>
            <input id="email"  type="text" name="email" formControlName="email" />
            </div>
            <br>
            <div style="padding-top: 5px; padding-left: 5px;">
            <label>First Name:   </label>
            <input id="first_name" type="text" name="first_name" formControlName="first_name" />
            </div>
            <br>
            <div style="padding-top: 5px; padding-left: 5px;">
            <label>Last Name:    </label>
            <input id="last_name" type="text" name="last_name" formControlName="last_name" />
            </div>
            <br>
            <br>
            <input class="btn" type="submit" (click)="onSubmit()" value="Register"/>
            <br>
            <br>
            <button class="btn" [routerLink]="['/login']">Login</button>
        </form>
    </div>
</div>