<div class="modal-content">

    <div header class="modal-header" *ngIf="type=='add'"><b>Add Owner</b></div>
    <div header class="modal-header" *ngIf="type=='edit'"><b>Update Owner</b></div>

    <div body class="modal-body">
        <br>
        <label>Contact Number:</label>
        <input type="text" [value]="email" (change)="onChangeEmail($event)" placeholder="Enter Phone Number..." id="owner_number"/>
        <br>
        <label>Email:</label>
        <input type="text" [value]="number" (change)="onChangeNumber($event)" placeholder="Enter Email..." id="owner-email"/>
        <br>
    </div>

    <div footer class="modal-footer">
        <button class="btn" (click)="submit()">Done</button>
    </div>

</div>